@@include('../../inc-header.html', {"title": "订单详情"})
@@include('../../top-nav.html')
@@include('../../left-nav.html')
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i> 订单详情</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"><a href="@@HOSTview/mall/order.html">返回订单管理</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div id="basicMessage"></div>
                    <div class="row" style="margin-top: 10px;display: none">
                        <!--数据表格modelBuilder.js-->
                        <div class="col-lg-12" style="width: 97%">
                            <ul class="nav nav-tabs">
                                <li class="active" style="height: 28px">
                                    <a href="#qh1" id="headerTab1" data-toggle="tab" style="outline:none;color: orange;cursor: pointer">商品信息</a>
                                </li>
                                <li class="active" style="height: 28px">
                                    <a href="#qh2" id="headerTab2" data-toggle="tab" style="outline:none;cursor: pointer">收货人信息</a>
                                </li>
                                <li class="active" style="height: 28px">
                                    <a href="#qh3" id="headerTab3" data-toggle="tab" style="outline:none;cursor: pointer">操作日志</a>
                                </li>
                                <li class="active" style="height: 28px">
                                    <a href="#qh4" id="headerTab4" data-toggle="tab" style="outline:none;cursor: pointer">物流信息</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabContent"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--订单信息模板-->
<script id="orderMessage" type="text/html">
    <div style="padding: 20px; border: 1px solid lightgray;background: #f2f2f2;margin-bottom: 30px;">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-4">
                <h5>订单信息&nbsp; (<%- dataArr.statusText %>)</h5>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">ID</span>
                    </div>
                    <input type="text" name="id" value="<%= dataArr.id %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">用户ID</span>
                    </div>
                    <input type="text" name="userId" value="<%= dataArr.userId %>" class="form-control">
                </div>
            </div>
            <% if(dataArr.status==4){ %>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">退款金额</span>
                    </div>
                    <input type="text" name="refundMoney" value="<%= dataArr.refundMoney %>" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">元</span>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">链接</span>
                    </div>
                    <input type="text" name="url" value="<%= dataArr.url %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">订单号</span>
                    </div>
                    <input type="text" name="orderNo" value="<%= dataArr.orderNo %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">金额</span>
                    </div>
                    <input type="text" name="money" value="<%= dataArr.money %>" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">元</span>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">数量</span>
                    </div>
                    <input type="text" name="num" value="<%= dataArr.num %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">手机号</span>
                    </div>
                    <input type="text" name="mobile" value="<%= dataArr.mobile %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">备注</span>
                    </div>
                    <input type="text" name="memo" value="<%= dataArr.memo %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">分类ID</span>
                    </div>
                    <input type="text" name="categoryId" value="<%= dataArr.categoryId %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">分类标题</span>
                    </div>
                    <input type="text" name="categoryTitle" value="<%= dataArr.categoryTitle %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">父级ID</span>
                    </div>
                    <input type="text" name="parentCategoryId" value="<%= dataArr.parentCategoryId %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">父级标题</span>
                    </div>
                    <input type="text" name="parentCategoryTitle" value="<%= dataArr.parentCategoryTitle %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">渠道ID</span>
                    </div>
                    <input type="text" name="channelId" value="<%= dataArr.channelId %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">渠道标题</span>
                    </div>
                    <input type="text" name="channelTitle" value="<%= dataArr.channelTitle %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">优化方案ID</span>
                    </div>
                    <input type="text" name="planId" value="<%= dataArr.planId %>" class="form-control">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">优化方案标题</span>
                    </div>
                    <input type="text" name="planTitle" value="<%= dataArr.planTitle %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">创建时间</span>
                    </div>
                    <input type="text" name="createTime" value="<%= dataArr.createTime %>" class="form-control">
                </div>
            </div>
        </div>
    </div>
</script>
<script data-main="/public/js/module/mall/orderDetails"></script>
@@include('../../inc-footer.html')