<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img style="display: inline-block;width:50px;height: 50px" class="app-sidebar__user-avatar" src="http://xn--0zwv61a3umlc.xn--tfr330an9v.com/public/img/background/newlist-header.png" alt="User Image">
        <div>
            <p class="app-sidebar__user-name"></p>
            <p class="app-sidebar__user-designation">管理员</p>
        </div>
    </div>
    <ul class="app-menu">
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">会员管理</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="three_item common-item" href="@@HOSTview/account/user.html"><i class="icon fa fa-circle-o"></i>用户管理</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">渠道管理</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="three_item common-item" href="@@HOSTview/mall/category.html"><i class="icon fa fa-circle-o"></i>分类管理</a>
                </li>
                <li>
                    <a class="three_item common-item" href="@@HOSTview/mall/channel.html"><i class="icon fa fa-circle-o"></i>渠道管理</a>
                </li>
                <!--<li>-->
                    <!--<a class="three_item common-item" href="@@HOSTview/mall/categoryPlan.html"><i class="icon fa fa-circle-o"></i>优化方案管理</a>-->
                <!--</li>-->
            </ul>
        </li>
        <li class="treeview">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-laptop"></i>
                <span class="app-menu__label">系统管理</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="three_item common-item" href="@@HOSTview/account/admin.html"><i class="icon fa fa-circle-o"></i>管理员管理</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a class="three_item common-item" href="@@HOSTview/mall/order.html"><i class="icon fa fa-circle-o"></i>订单管理</a>
        </li>
        <li class="treeview">
            <a class="three_item common-item" href="@@HOSTview/system/notice.html"><i class="icon fa fa-circle-o"></i>公告管理</a>
        </li>
        <li class="treeview">
            <a class="three_item common-item" href="@@HOSTview/system/message.html"><i class="icon fa fa-circle-o"></i>消息中心</a>
        </li>
    </ul>
</aside>
<script id="menuItem" type="text/html">
    <% for(var i=0;i < data.length;i++){ %>
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview">
            <i class="app-menu__icon fa fa-laptop"></i>
            <span class="app-menu__label"><%= data[i].title %></span>
            <i class="treeview-indicator fa fa-angle-right"></i>
        </a>
        <ul class="treeview-menu">
            <% for(var j=0;j < data[i].child.length;j++){ %>
            <% if(data[i].child[j].child){ %>
            <li class="three_menu">
                <a class="app-menu__item three_menu_item" href="#">
                    <i class="app-menu__icon fa fa-list-ul"></i>
                    <span class="app-menu__label"><%= data[i].child[j].title %></span>
                    <i class="fa fa-angle-right"></i>
                </a>
                <ul class="three_list" style="padding-left: 20px">
                    <% for(var k=0;k < data[i].child[j].child.length;k++){ %>
                    <li><a class="three_item common-item" href="@@HOSTview/<%= data[i].child[j].child[k].url %>"><i class="icon fa fa-circle-o"></i><%= data[i].child[j].child[k].title %></a></li>
                    <% } %>
                </ul>
            </li>
            <% }else{ %>
            <li class="three_menu">
                <a class="three_item common-item" href="@@HOSTview/<%= data[i].child[j].url %>"><i class="icon fa fa-circle-o"></i><%= data[i].child[j].title %></a>
            </li>
            <% } %>
            <% } %>
        </ul>
    </li>
    <% } %>
</script>